name: '2.0$(rev:.r)'

trigger:
- main
- features/*

pr:
- main

pool:
  vmImage: 'windows-latest'
  demands: npm

stages:
- stage: 'Build'
  displayName: 'Build'
  jobs:
  - job: 
    displayName: 'Build'
    steps:
    - task: NodeTool@0
      inputs:
        versionSpec: '10.x'
      displayName: 'Install Node.js'

    - script: |
        npm install

    - script: |
        npm run initdev
    
    - script: |
        npm run build

    - task: SnykSecurityScan@0
      inputs:
        testType: 'app'
        monitorOnBuild: false
        failOnIssues: true
        additionalArguments: '--all-projects --detection-depth=6'
        serviceConnectionEndpoint: 'snyk-jessehouwing'

    - task: TfxInstaller@3
      displayName: 'Use Node CLI for Azure DevOps'
      inputs:
        version: '0.8.x'
        checkLatest: true

    - task: PackageAzureDevOpsExtension@3
      displayName: 'Package Extension: $(Build.SourcesDirectory)'
      name: 'packageStep'
      inputs:
        rootFolder: '$(Build.SourcesDirectory)'
        outputPath: '$(Build.ArtifactStagingDirectory)\jessehouwing-vsts-variable-tasks.vsix'
        publisherId: 'jessehouwing'
        extensionId: 'jessehouwing-vsts-variable-tasks'
        extensionTag: '-build'
        extensionName: 'Variable Toolbox'
        extensionVersion: '$(Build.BuildNumber)'
        updateTasksVersion: true
        updateTasksVersionType: patch
        extensionVisibility: private

    - task: PublishPipelineArtifact@1
      displayName: 'Publish vsix'
      inputs:
        publishLocation: pipeline
        targetPath: '$(packageStep.Extension.OutputPath)'
        artifact: 'vsix'
      condition: succeededOrFailed()

- stage: PublishDev
  displayName: 'Publish privately'
  condition: and(succeeded(), ne(variables['Build.Reason'], 'PullRequest'))
  dependsOn: 'Build'
  jobs:
    - deployment: 
      environment: Publisher JesseHouwing (privately)
      strategy: 
        runOnce:
         deploy:
          steps:

          - task: TfxInstaller@3
            displayName: 'Use Node CLI for Azure DevOps'
            inputs:
              version: '0.8.x'
              checkLatest: true

          - task: PublishAzureDevOpsExtension@3
            name: 'publishDev'
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'Jesse Houwing'
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/vsix/jessehouwing-vsts-variable-tasks.vsix'
              publisherId: 'jessehouwing'
              extensionId: 'jessehouwing-vsts-variable-tasks'
              extensionTag: '-dev'
              updateTasksVersion: false
              extensionVisibility: 'privatepreview'
              shareWith: 'jessehouwing-dev'
              noWaitValidation: true
        
          - task: IsAzureDevOpsExtensionValid@3
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'Jesse Houwing'
              method: 'vsix'
              vsixFile: '$(publishDev.Extension.OutputPath)'


          - task: PublishPipelineArtifact@1
            displayName: 'Publish vsix'
            inputs:
              publishLocation: pipeline
              targetPath: '$(publishDev.Extension.OutputPath)'
              artifact: 'dev'
            condition: succeededOrFailed()

- stage: PublishProd
  displayName: 'Publish publicly'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
  dependsOn: 'PublishDev'
  jobs:
    - deployment: 
      environment: Publisher JesseHouwing (publicly)
      strategy: 
        runOnce:
         deploy:
          steps:

          - task: TfxInstaller@3
            displayName: 'Use Node CLI for Azure DevOps'
            inputs:
              version: '0.8.x'
              checkLatest: true

          - task: PublishAzureDevOpsExtension@3
            name: 'publishProd'
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'Jesse Houwing'
              fileType: 'vsix'
              vsixFile: '$(Pipeline.Workspace)/vsix/jessehouwing-vsts-variable-tasks.vsix'
              publisherId: 'jessehouwing'
              extensionId: 'jessehouwing-vsts-variable-tasks'
              updateTasksVersion: false
              extensionVisibility: 'public'
              noWaitValidation: true
          
          - task: IsAzureDevOpsExtensionValid@3
            inputs:
              connectTo: 'VsTeam'
              connectedServiceName: 'Jesse Houwing'
              method: 'vsix'
              vsixFile: '$(publishProd.Extension.OutputPath)'

          - task: PublishPipelineArtifact@1
            displayName: 'Publish vsix'
            inputs:
              publishLocation: pipeline
              targetPath: '$(publishProd.Extension.OutputPath)'
              artifact: 'prod'
            condition: succeededOrFailed()

          - task: GitHubRelease@1
            inputs:
              gitHubConnection: 'GitHub - jessehouwing'
              repositoryName: '$(Build.Repository.Name)'
              action: 'create'
              target: '$(Build.SourceVersion)'
              tagSource: 'userSpecifiedTag'
              tag: 'v$(Build.BuildNumber)'
              title: 'v$(Build.BuildNumber)'
              releaseNotesSource: 'inline'
              assets: '$(publishProd.Extension.OutputPath)*'
              changeLogCompareToRelease: 'lastFullRelease'
              changeLogType: 'issueBased'
              changeLogLabels: '[{ "state" : "closed" }]'